@import "variables.css";

.root {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	opacity: 0;
	transition: var(--speed-fast) var(--easing-accelerate);
	transition-property: opacity, transform;
	transform: translateY(var(--unit-4dp));
}

.root.--visible {
	transform: translateY(0);
	opacity: 1;
	transition-duration: var(--speed-slow);
	transition-timing-function: var(--easing-decelerate);
}
