@import "variables.css";

.root {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: var(--z-index-overlay);
	visibility: hidden;
	transition: var(--speed-medium) var(--easing-standard);
	transition-property: visibility;
}

.content {
	position: relative;
	z-index: 5;
	height: 100%;
	width: 100%;
}

.scrim {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: var(--speed-medium) var(--easing-standard);
	transition-property: opacity;
	background: rgba(0, 0, 0, 0.6);
}

.root.--active {
	visibility: visible;

	& .scrim {
		opacity: 1;
	}
}
